{% extends "base.html" %}
{% load i18n %}
{%load crispy_forms_tags%}

{% block content %}
<div class='row justify-content-center' style='margin-top:2rem;margin-left:0;margin-right: 0;'>
  <div class='col-lg-4 col-xs-12 shadow rounded bg-light'>
    <div class='container'style='margin:1rem;'>
      <form method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <input class='btn btn-block btn-primary' type="submit" value="Cambiar" />
      </form>
    </div>
  </div>
</div>
{% endblock %}