{%extends 'base.html'%}

{%block content%}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Error de acceso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class='lead text-center'>Tu usuario no tiene los permisos suficientes</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="atras()">Entendido</button>
        </div>
      </div>
    </div>
  </div>
  <script>
      function atras(){
        window.history.back();     
      }
      $('#staticBackdrop').modal('show')
  </script>
{%endblock%}