<!doctype html>
{%load static%}
<html lang="es">
<head>
    <meta charset="gb18030">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{%static 'img/icon_page.png'%}">
    
    <title>intellySell</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      body{
        background-image: url("{%static 'img/bg2.jpg'%}");
        margin-top: 2rem;
      }
      input{
        text-align:center;
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{%static 'css/signin.css'%}" rel="stylesheet">
    <script src="{%static 'js/jquery-3.4.1.slim.min.js'%}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="{%static 'js/bootstrap.bundle.min.js'%}" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a551a12e1c.js" crossorigin="anonymous"></script>


</head>
    <body class="text-center">
      {%block content%}
      {%endblock%}
  </body>
</html>