{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block title%}Productos en transito{%endblock%}
{%block content%}
<div class='container-lg bg-white shadow rounded'>
    <h4><i class="fas fa-stream"></i> Productos con compras en transito
        <button type='button' class='btn btn-outline-primary float-right' style='margin-right: 1rem;'><i
                class="far fa-file-excel"></i> Exportar</button></h4>
    <br>
    <div class='table-responsive'>
        <table id='tablaProductos' class='striped hover compact row-border' style='width: 100%;'>
            <thead>
                <tr>
                    <th class='text-center'>Codigo</th>
                    <th class='text-center'>Descpricion</th>
                    <th class='text-center'>Proveedor</th>
                    <th class='text-center'>Factura</th>
                    <th class='text-center'>Cantidad</th>
                    <th class='text-center'>Costo</th>
                </tr>
            </thead>
            <tbody>
                {%for producto in productos%}
                <tr>
                    <td class='text-center'>
                            {{producto.producto.pk}}
                        </td>
                    <td>{{producto.producto.nombre}}</td>
                    <td>{{producto.doccompra.proveedor.nombre}}</td>
                    <td>{{producto.doccompra.nroFactura}}</td>
                    <td class='text-center'>{{producto.cantidad}}</td>
                    <td class='text-center'>{{producto.valor}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<script>
    var tablaProductos = $('#tablaProductos').DataTable({
            'lengthMenu': [
                [10, 25, 50, -1],
                [10, 25, 50, 'All']
            ],
            "pageLength": 25,
            "order": [[ 1, "asc" ]]
        });
</script>
{%endblock%}