{%if alerta%}
<div class='container'>
  {%if tipo_alerta == 'success'%}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>¡Listo!</strong> {{mensaje_alerta}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  {%endif%}
  {%if tipo_alerta == 'danger'%}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Erros!</strong> {{mensaje_alerta}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  {%endif%}
  {%if tipo_alerta == 'warning'%}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>¡Oh Oh!</strong> {{mensaje_alerta}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  {%endif%}
</div>

{%endif%}